[submodule "deps/argparse"]
	path = deps/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "deps/capstone"]
	path = deps/capstone
	url = https://github.com/capstone-engine/capstone.git
